{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ваше описание">
    <title>ВИ-ДЕНТ</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Подключаем ваши стили -->
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
</head>
<body>
    <!-- Шапка сайта -->
    <header class="custom-header">
        <div class="container">
            <a href="/" class="logo">
                <img src="{% static '/main/images/icon.png' %}" alt="ВИ-ДЕНТ Logo" class="logo-icon">
                <span class="logo-text">ВИ-ДЕНТ</span>
            </a>

            <nav class="main-nav">
                <a href="#" class="nav-link active" aria-current="page">Главная</a>
                <a href="#" class="nav-link">О нас</a>
                <a href="#" class="nav-link">Специалисты</a>
                <a href="#" class="nav-link">Цены</a>
            </nav>
        </div>
    </header>

    <!-- Основной контент страницы -->
    <div class="container mt-4">
        <img src="{% static 'main/images/фасад2.png' %}" alt="ВИ-ДЕНТ Logo" class="bi">
    </div>
    <div class="welcome">
        <p>Стоматологическая клиника
            "ВИ-ДЕНТ"
            доктора Тропиной Анны Александровны
            оказывает все виды
            стоматологической помощи.
        </p>
        <p>Ваши зубы всегда будут
            в полном порядке!
        </p>
    </div>

    <div class="working-hours">
        <div class="working-hours-content">
            <h2>РЕЖИМ РАБОТЫ</h2>
            <p>ПОНЕДЕЛЬНИК-ПЯТНИЦА  - С 9.00 ДО 18.00</p>
            <p>СУББОТА - С 9.00 ДО 17.00</p>
            <p>ВОСКРЕСЕНЬЕ - С 10.00 ДО 17.00</p>
            <p>ПРИЕМ ОСУЩЕСТВЛЯЕТСЯ ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ</p>
            <p>ПО ТЕЛЕФОНУ: 8-905-157-03-03</p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="about-us">
            <h2>О НАС</h2>
            <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «ВИ-ДЕНТ»</p>
            <p>ОГРН 1163702050819, ИНН 3704008724</p>
            <p>Свидетельство о государственной регистрации юридического лица серия 37 № 001735582, зарегистрировано 14 января 2016 года в Межрайонной инспекции Федеральной налоговой службы №2 по Ивановской области</p>
            <p>Адрес места нахождения юридического лица: 155043, Ивановская область, г.Тейково, ул.Советской Армии д.4 кв.50</p>
            <p>Адрес места осуществления медицинской деятельности: 155040, Ивановская область, г.Тейково, пер.Заречный, д.9/81</p>
            <p>Номер телефона: 8 (905) 157-03-03</p>
            <p>Лицензия на осуществление медицинской деятельности: № Л041-01139-37/00357405, выдана Департаментом здравоохранения Ивановской области</p>
            <p>Директор ООО «ВИ-ДЕНТ» – Тропина Анна Александровна</p>
            <p>Номер телефона: 8 (905) 156-19-61</p>
        </div>
        <div class="supervising-authorities">
            <h2>КОНТРОЛИРУЮЩИЕ ОРГАНЫ</h2>
            
            <p>Департамент здравоохранения Ивановской области</p>
            <a href="http://dz.ivanovoobl.ru" target="_blank">dz.ivanovoobl.ru</a>
            <p>Фактический адрес: 153000, г. Иваново, Шереметевский пр., д. 1</p>
            <p>Номер телефона: (4932) 59-48-20</p>
            <p>Адрес электронной почты: 073@adminet.ivanovo.ru</p>
            
            <p>Член Правительства Ивановской области - директор Департамента здравоохранения Ивановской области - Фокин Артур Мерабович.</p>
            <p>Прием граждан: 1 и 3 четверг каждого месяца 14:30-16:30, каб. 421</p>
            
            <p>Прием граждан руководителями Департамента здравоохранения проводится каждый четверг с 14.30 до 16.30, представители организаций принимаются директором Департамента во второй и четвертый четверги каждого месяца с 12.00 до 13.00.</p>
            <p>Записаться на прием можно по телефонам (4932) 59-46-10, 59-48-20 с понедельника по четверг с 9.00 до 18.00, в пятницу – с 9.00 до 16.45; перерыв на обед с 13.00 до 13.45.</p>
        
            <p>Территориальный орган Росздравнадзора по Ивановской области</p>
            <a href="http://37reg.roszdravnadzor.ru" target="_blank">37reg.roszdravnadzor.ru</a>
            <p>Руководитель территориального органа: Белин Николай Борисович</p>
            <p>Контакты:</p>
            <p>Фактический адрес: 153012 г.Иваново, ул. Советская д.49</p>
            <p>Номер телефона: 8(4932) 41-36-89, 41-36-90</p>
            <p>Адрес электронной почты: info@reg37.roszdravnadzor.ru</p>
        
            <p>Управление федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Ивановской области</p>
            <a href="http://37.rospotrebnadzor.ru" target="_blank">37.rospotrebnadzor.ru</a>
            <p>Руководитель Управления Роспотребнадзора по Ивановской области - Минашкин Александр Иванович</p>
            <p>Контакты:</p>
            <p>Фактический адрес: 153021, г. Иваново, Рабфаковская, д.6</p>
            <p>Номер телефона: (4932) 30-30-13</p>
            <p>Адрес электронной почты: ivrpn@37.rospotrebnadzor.ru</p>
        </div>
    </div>
<div class="specialists">
    <h2>К вашим услугам наши лучшие специалисты!</h2>
    <div class="specialist">
        <h3>Врач-стоматолог детский, врач-стоматолог общей практики</h3>
        <a href="{% url 'teeth:specialist' %}">Тропина Анна Александровна</a>
    </div>
    <div class="specialist">
        <h3>Врач-стоматолог общей практики</h3>
        <p>Трифонова Светлана Александровна</p>
    </div>
    <div class="specialist">
        <h3>Врач-стоматолог ортопед</h3>
        <p>Багомедов Магомед Курбанисмаилович</p>
    </div>
    <div class="specialist">
        <h3>Врач-стоматолог общей практики</h3>
        <p>Онищенко Мария Михайловна</p>
    </div>
    <div class="specialist">
        <h3>Врач-стоматолог-хирург</h3>
        <p>Онищенко Иван Владимирович</p>
    </div>
    <div class="specialist">
        <h3>Врач-ортодонт</h3>
        <p>Рясина Мария Вячеславовна</p>
    </div>
</div>
</body>
</html>
