<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специалисты</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .specialist {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f4f4f4;
        }

        .specialist h3 {
            color: #333;
        }

        .specialist p {
            margin: 10px 0;
            color: #666;
        }

        h2 {
            color: #3498db;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Специалисты</h2>

        <!-- Специалист 1 -->
        <div class="specialist">
            <h3>Врач-стоматолог детский, врач-стоматолог общей практики</h3>
            <p>Тропина Анна Александровна</p>
            <p>ГОУ ВПО «Тверская ГМА Министерства здравоохранения РФ» Год окончания 2004 г.,</p>
            <p>Диплом ВСВ 0551532, рег. №222 от 24.06.2004 г. Специальность «Стоматология»
            </p>
            <p>Интернатура в МУЗ СП № 1 г. Иваново с 02.08.2004 г. по 30.07.2005 г. по специальности «Стоматология». Удостоверение рег.№1406 от 01.07.2005г.
            </p>
            <p>Диплом о профессиональной переподготовке ПП-I № 595649, рег. № 305 от 2010 г. профессиональная
                 переподготовка в ГОУ ВПО НижГМА Росздрава с 11.01.2010г. по 30.04.2010г. (576 ч.) по программе «Стоматология детская»
            </p>
            <p>Удостоверение о повышении квалификации 372409875541, рег. № 27898 от 14.02.2020г.</p>
            <p>ФДПО ИПО ФГБОУ ВО ИвГМА Минздрава России, «Стоматология детская» с 20.01. по 14.02.2020 г.</p>
            <p>Сертификат специалиста 0137242079303 рег. № 15428 от 14.02.2020г. по специальности «Стоматология детская», действителен в течение 5 лет</p>
            <p>Удостоверение о повышении квалификации 770400426442, рег. № 20/1611-32151 от 16.11.2020г.</p>
            <p>ФДПО ИПО ФГБОУ ВО ИвГМА Минздрава России,«Стоматология общей практики» с 12.10 по 16.11.20 </p>
            <p>Сертификат специалиста 1177040055058 рег. № 20/1611-131253 от 16.11.2020г. по специальности «Стоматология общей практики», действителен в течение 5 лет</p>
        </div>

        <div class="specialist">
            <h3>Врач-стоматолог общей практики</h3>
            <p>Трифонова Светлана Александровна</p>
            <p>ФГБОУ ВО«ИвГМА» Министерства здравоохранения РФ. Год окончания 2018 г. Специальность «Стоматология»</p>
            <p>Первичная аккредитация  по специальности «Стоматология общей практики» Протокол №5 от 04.07.2018 г.</p>
            <p>Сертификат специалиста  0137241588521, рег. № 11888 от 27.04.2018 г. по специальности "Стоматология", действителен в течении 5 лет</p>
        </div>

        <div class="specialist">
            <h3>Врач-стоматолог ортопед</h3>
            <p>Багомедов Магомед Курбанисмаилович</p>
            <p>Дагестанский Государственный медицинский институт Год окончания 1980 г.</p>
            <p>Диплом ЖВ № 692521 рег. № 18. Специальность «Стоматология»</p>
            <p>Интернатура по стоматологии с 01.07.1980 г. по 23.06.1981 г. по специальности «Стоматология».</p>
            <p>Свидетельство о прохождении квалификации к диплому № ЖВ№692521.</p>
            <p>Удостоверение о повышении квалификации рег. № У02165.04/19 от 29.04.2019г.</p>
            <p>АНО ДПО «Академия медицинского образования» по программе «Стоматология ортопедическая» (144 ч.) с 02.04.2019г. по 29.04.2019г.</p>
            <p>Сертификат специалиста 1177180901208, рег. № 1972.19 от 29.04.2019г. по специальности «Стоматология ортопедическая», действителен в течение 5 лет</p>
        </div>

        <div class="specialist">
            <h3>Врач-стоматолог общей практики</h3>
            <p>Онищенко Мария Михайловна</p>
            <p>ФГБОУ ВО«ИвГМА» Министерства здравоохранения РФ. Год окончания 2016 г.</p>
            <p>Диплом 103724 1610907, рег. №29499 от 30.06.2016 г. Специальность «Стоматология»</p>
            <p>Первичная аккредитация  по специальности «Стоматология общей практики» Протокол №10 от 06.07.2016 г.</p>
            <p>Свидетельство об аккредитации специалиста 332400003764,рег. № 000020</p>
            <p>Удостоверение о повышении квалификации 542413476648, рег. № УНМ00607-75/21 от 15.03.2021 г.</p>
            <p>АНО ДПО "СИНМО" по программе «Стоматология общей практики» с 15.02.2021 г. по 15.03.2021 г.</p>
        </div> 

        <div class="specialist">
            <h3>Врач-стоматолог-хирург</h3>
            <p>Онищенко Иван Владимирович</p>
            <p>ГБОУ ВПО«ИвГМА» Министерства здравоохранения РФ. Год окончания 2014 г.</p>
            <p>Диплом специалиста 103724 0603877, рег. №28813  от 26.06.2014 г. Специальность «Стоматология»</p>
            <p>Интернатура  по специальности «Стоматология общей практики» Протокол №686 от 28.07.2015 г.</p>
            <p>Диплом о послевузовском профессиональном образовании (интернатура) 013724029772, рег.№0686 от 29.07.2015 г.</p>
            <p>Диплом о профессиональной переподготовке 522403682155, рег.№0680 от 29.06.2016 г., профессиональная переподготовка в ГБОУ ВПО НижГМА Минздрава России по специальности «Стоматология хирургическая»</p>
            <p>Удостоверение о повышении квалификации 770400426441, рег. № 20/1812-35315 от 18.12.2020 г.</p>
            <p>"Университет постдипломного профессионального образования" по программе</p>
            <p>«Стоматология хирургическая» с 16.11.2020 г. по 18.12.2020 г.</p>
            <p>Сертификат специалиста 1177040055043, рег. № 20/1812-134417 от 18.12.2020г. по специальности «Стоматология хирургическая», действителен в течение 5 лет</p>
        </div>

        <div class="specialist">
            <h3>Врач-ортодонт</h3>
            <p>Рясина Мария Вячеславовна</p>
            <p>Фелеральное государственное бюджетное образовательное учреждение высшего образования «Рязанскийгосударственный медицинский университет им.академика И.П.Павлова» Министерства здравоохранения Российской Федерации, Год окончания 2014 г.</p>
            <p>Диплом 106218 0171996, рег. №32472 от 25.06.2014 г., Специальность «Стоматология»</p>
            <p>Государственное бюджетное образовательное учреждение высшего профессионального образования «Рязанский государственный университет имени академика И.П.Павлова» Министерства здравоохранения Российской Федерации, Год окончания 2016 г.</p>
            <p>Диплом 106224 016570, рег. №028 от 01.08.2016 г. Специальность «Ортодонтия»</p>
            <p>Удостоверение о повышении квалификации 622413309058, рег.№ 2/14/21-12/20-ПК от 21.12.2020 г.</p>
            <p>"Центр Специализированного Образования "Проф-Ресурс" с 01.12.2020 по 21.12.2020 г.</p>
            <p>Сертификат специалиста 1162242675405, рег.№ 2/17/21-12/20-СС от 21.12.2020 г. по специальности "Ортодонтия", действителен в течении 5 лет.</p>
        </div>

    </div>
</body>
</html>
